.banner-principal-decorativo
  &-1
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 35%
    right: 85%
    width: 90px
  &-2
    width: 50px
    animation: rotation 15s infinite linear
    position: absolute
    top: 20%
    right: 10%
  &-3
    width: 50px
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 45%
    right: 3%
  &-4
    width: 50px
    animation: scale 2.8s ease-in-out infinite alternate
    position: absolute
    top: 23%
    right: 63%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

@keyframes float2
  0%
    transform: translateX(20px)

  100%
    transform: translateX(0px)

@keyframes scale
  0%
    transform: scale(1)

  100%
    transform: scale(1.2)

@keyframes rotation  
  100%
    transform: rotate(359deg)

///ESTIOS BANNER-------------


.banner-principal__img
  width: 470px !important
  padding-bottom: 0rem !important
  padding-top: 5rem !important

.banner-interno__fondo
  background-image: url("../assets/curso/portada/banner-interno.png") !important


//Estilos Tema 3

.bg-1-tema-3
  background-image: url("../assets/curso/temas/tema3/bg1.png")
  background-size: 100% 100%

//slyder tipo a

.slyder-a__tipo-a .slyder-a__btn--sigt
  right: -15px
  background-color: #3076B6
  opacity: 1
  @media (max-width: 500px)
    top: 30%

.slyder-a__tipo-a .slyder-a__btn--atrs
  left: -15px
  background-color: #3076B6
  opacity: 1
  @media (max-width: 500px)
    top: 30%

.slyder-a__tipo-a .slyder-a__bullets 
    position: absolute
    bottom: 0px
    left: 50%
    transform: translateX(-50%)
    display: none !important

.tarjeta--morada
  background-color: #F6F6F6


.img-11
  width: 90%
  max-width: 100%
  position: relative
  margin-top: -15%
  margin-left: 10%

.bloque-texto-f.color-secundario:before
  background-color: #CCF9FE

.bloque-texto-f__avatar__img
  top: -70px

.bordered 
    border: solid #8979F3 0.2px
    -moz-border-radius: 20px
    -webkit-border-radius: 20px 
    border-radius: 20px
    -webkit-box-shadow: 0 0.2px #8979F3 
    -moz-box-shadow: 0 0.2px #8979F3
    box-shadow: 0 0.2px #8979F3

.tarjeta-flip.color-acento-contenido .tarjeta-flip__contenido
  background-color: #D0C9FA
  @media (max-width: 500px)
    width: auto
    height: 500px !important

.width-img
  width: 30%

.width-img-2
  width: 45%

.bgtarjeta
  background-image: url("../assets/curso/temas/fondo-tarjeta.png")
  background-size: 100% 100%
  margin-top: -10%
  @media screen and ( max-width: 500px )
    margin-top: 0%

.bgtarjeta2
  background-image: url("../assets/curso/temas/fondo-tarjeta.png")
  background-size: 100% 100%
  margin-top: 0%
  @media screen and ( max-width: 500px )
    margin-top: 0%

/// ESTILOS INTRODUCCION ------------

.bg-intro
  position: relative
  .row, figure, p, h3, .titulo-sexto.color-primario
    position: relative
  &::before
    content: ""
    position: absolute
    margin-left: -48px
    margin-top: 90px
    width: calc( 100% + 96px )
    height: 100%       
    background-image: url('../assets/curso/temas/introduccion/bg-fondo.png')
    background-size: 100% auto  
    background-repeat: no-repeat
    background-position: center top 
    @media (max-width: 500px)
      background-repeat: repeat
      margin-top: 0px

.bg-tarjeta
  background-image: url("../assets/curso/temas/introduccion/bg-tarjeta.png")
  background-repeat: no-repeat
  background-size: 100% 100%
  @media (max-width: 500px)
    background-size: 100% 100%

/// ESTILOS TEMA 1 ------------------------

// Bloque texto G-----------------

.bloque-texto-g1__img 
  width: 50%
  position: absolute
  top: 0
  left: 50%
  bottom: 0
  background-position: center
  background-size: cover
  @media (max-width: 500px)
    height: 250px
    width: 100%
    left: 0%

.bloque-texto-g1__texto 
  position: relative
  width: 60%
  background-color: rgba(255, 255, 255, 0.95)
  right: 40%
  @media (max-width: 500px)
    width: 100%
    right: 0%

// background titulos -------

.bg-titulo1
  background-image: url("../assets/curso/temas/tema1/bg-titulo1.png")
  background-repeat: no-repeat
  background-size: 23% 80%
  @media (max-width: 500px)
    background-size: 90% 80%

.bg-titulo2
  background-image: url("../assets/curso/temas/tema1/bg-titulo1.png")
  background-repeat: no-repeat
  background-size: 20% 100%
  @media (max-width: 500px)
    background-size: 20% 100%

.bg-titulo3
  background-image: url("../assets/curso/temas/tema1/bg-titulo2.svg")
  background-repeat: no-repeat
  background-size: 39% 90%
  @media (max-width: 500px)
    background-size: 100% 100%

.bg-titulo4
  background-image: url("../assets/curso/temas/tema1/bg-titulo3.svg")
  background-repeat: no-repeat
  background-size: 20% 90%
  @media (max-width: 500px)
    background-size: 60% 100%

.texto-derecha
  position: relative
  left: 2%
  @media (max-width: 500px)
    left: 7%

.texto-derecha2
  position: relative
  left: 5%
  top: -5%
  @media (max-width: 500px)
    left: 7%

.bg1-tema1
  position: relative
  .row, figure, p, h3, .titulo-sexto.color-primario
    position: relative
  &::before
    content: ""
    position: absolute
    margin-left: -48px
    margin-top: -10px
    width: calc( 100% + 96px )
    height: 100%       
    background-image: url('../assets/curso/temas/tema1/bg-fondo1.png')
    background-size: 100% auto  
    background-repeat: no-repeat
    background-position: center top 
    @media (max-width: 500px)
      background-repeat: no-repeat

.bg-fondo2
  background-image: url("../assets/curso/temas/tema1/bg-fondo2.png")
  background-repeat: no-repeat
  background-size: 100% 100%
  @media (max-width: 500px)
    background-size: 100% 100%

.bg-fondo3
  background-image: url("../assets/curso/temas/tema1/bg-fondo4.png")
  background-size: 100% 100%
  position: relative
  margin-top: -8%

.bg2-tema1
  position: relative
  .row, figure, p, h3, .titulo-sexto.color-primario
    position: relative
  &::before
    content: ""
    position: absolute
    margin-left: -48px
    margin-top: -10px
    width: calc( 100% + 96px )
    height: 110%       
    background-image: url('../assets/curso/temas/tema1/bg-fondo3.png')
    background-size: 100% auto  
    background-repeat: no-repeat
    background-position: center top 
    @media (max-width: 500px)
      background-repeat: repeat

// cajon color ----

.cajon.color-gris
    background-color: #F7F8FB

.cajon.color-gris:before 
    background-color: #12263F

.cajon.color-gris2
    background-color: #FFFFFF

.cajon.color-gris2:before 
    background-color: #12263F

.cajon.color-azul
    background-color: #DCFAFA

.cajon.color-azul:before 
    background-color: #12263F

//lista con icono

.list 
  width: 100%
  display: flex !important
  &__item 
    &__bulletNumber 
      position: relative
      width: 50px
      height: 50px
      margin-right: 1rem
      text-align: center
      border-radius: 50%
      background-color: #339CE9
      span 
        color: red
        font-weight: 700
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        font-size: 30px
        
      
              
    
    &__number 
      position: relative
      margin-right: 0.5rem
      span 
        color:#BF3976
        font-size: 13pt
        font-weight: 700
        line-height: 1.2
      
    
    &__icon 
      position: relative
      width: 20px
      margin-right: 0.65rem
      margin-top: 4px
      img 
        width: 50px
        vertical-align: middle

    &__icon1
      position: relative
      width: 12px
      margin-right: 0.6rem
      margin-top: 3px
      margin-bottom: 3px
      img 
        width: 25px
        vertical-align: middle

    &__icon2
      position: relative
      width: 20px
      margin-right: 0.65rem
      margin-top: -1px
      img 
        width: 50px
        vertical-align: middle


  &__txt 
    p:first-child,
    h4:first-child 
      margin-top: 2px   

.margin-icon
  margin-top: 0px

.cajon-tema2
  background-color: #F6F6F6
  &::before
    background: #12263F


  

///////// Card hover --------------------------------------

.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: rgba(255, 247, 230, 1) 
    background-color: #0F6B9F
  
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em

.bg-flip-1
  opacity: 95%
  background-color: #035F94 !important

.bg-flip-2
  opacity: 95%
  background-color: #E38100 !important

.clr-paleYellow
  background-color: #F6F6F6

.tabs-a.color-acento-botones .tabs-a__tab__selected 
    background-color: #00B4F6 !important
    color: #fff

.tabs-a.color-acento-botones .tabs-a__tab__selected:before 
    background-color: #FFA031 !important

.tabs-a__tab 
    background-color: #E8E8E8

//// Tarjetas --------------------------------------
.crd
  &.brd--rad
    border-radius: 20px 
  &.crd--grayGrad
    padding: 2rem
    height: 100%
    background-color: #F6F6F6
    border-radius: 15px    
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    &:hover      
      background: linear-gradient(180deg, rgba(25,137,226,1) 0%, #4DB1F0 100%)
      h4, p
        color: white 
      .bottomCircle
        &::before
          background-color: #4DB1F0
  &.crd--blue
    background-color: #B1DBEA

  &.crd--border
    border: 4px solid $color-acento-botones
    border-radius: 20px

.bottomCircle
  position: relative
  & > *
    position: relative
  &::before
    content: ""
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    width: 115px
    height: 115px
    background-color: #4DB1F0
    border-radius: 999px

.crd--avatarHorizontal
  position: relative
  padding-right: 12rem
  & > *
    position: relative
  h5 
    color: #7F4FC7
  p 
    margin-bottom: 0
  &::before  
    position: absolute 
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 60px)
    height: 100%
    background-color: #C5E5FE

  @media (max-width: 1000px)
    padding-right: 2rem

.crd--first, .crd--last
  &::before 
    background-color: #DDEDF8 !important

.crd--first
  &::before 
    border-top-left-radius: 30px
.crd--last
  &::before 
    border-bottom-left-radius: 30px

.avatar
  position: absolute
  bottom: 0
  right: -4rem
  z-index: 1
  top: 150px
  @media (max-width: 1000px)
    display: none

.img90
  width: 90px  

//listas--------
.crd_hover_txt2
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: #EB8E0D
  
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em

// Taps A --------------

.color-pestana-azul
  color: #00B4F6

.tabs-a.color-pestana-azul .tabs-a__tab:hover, .tabs-a.color-pestana-azul .tabs-a__tab:active, .tabs-a.color-pestana-azul .tabs-a__tab:focus 
  background-color: #00B4F6
  color: #fff

.tabs-a.color-pestana-azul .tabs-a__tab__selected:before 
  background-color: #FF9A00

.tabs-a__tab 
  display: block
  width: 210%
  text-align: left
  background-color: #E8E8E8
  padding: 15px 20px
  border-radius: 5px
  color: #111e61
  line-height: 1.2em
  @media (max-width: 500px)
    width: 100%

.tabs-a__content-item--active 
  animation: tab-content-active 0.5s ease-in-out forwards
  width: 360px
  position: relative
  left: 30%
  @media (max-width: 500px)
    width: 100%
    left: 0%

// slyder A --------

.slyder-a__bullets__item:hover 
    opacity: 1
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3)
    border-color: #0098E8

.slyder-a__bullets__item--active 
    background-color: #0098E8
    border-color: #0098E8
    opacity: 1

.slyder-a__btn--sigt:hover, .slyder-a__btn--atrs:hover
    opacity: 1
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3)
    border-color: #FFA031

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #FFA031
  opacity: 1

// infografía descargable

.bgDescarga
  background-image: url("../assets/curso/temas/tema1/bgDescarga.png")
  background-size: 100% 100%

// tablas -----

.titulo-sexto.color-adicional-1
  border-left-color:#4DB1F0


.tabla-a thead
  background-color: #D6F0FE

.tabla-a.color-adicional-1 thead
  border-color: #4DB1F0

// tarjetas ----

.tarjeta-blanca
  background-color: #FFFFFF
  height: 140px
  @media (max-width: 500px)
    height: auto

.tarjeta-gris
  background-color: #F6F6F6
  border-bottom-right-radius: 40px

.tarjeta-gris2
  background-color: #E4E4E4

.tarjeta-azul
  background-color: #4DB1F0

//tarjeta punteada

.dotted-border 
  border: 2px dotted black
  padding: 10px

// imagenes ---------

.img36-tm1
  position: relative
  right: 40%
  @media (max-width: 500px)
    right: 47%

.img37-tm1
  max-width: 150%
  width: 125%
  position: relative
  right: 33%
  @media (max-width: 500px)
    width: 100%
    right: 0%

.img38-tm1
  max-width: 150%
  width: 125%
  position: relative
  right: 17%
  @media (max-width: 500px)
    width: 100%
    right: 0%

.img39-tm1
  max-width: 150%
  width: 125%
  position: relative
  right: 0%
  @media (max-width: 500px)
    width: 100%
    right: 0%

.img-52-tm1
  position: relative
  max-width: 200%
  width: 150%
  left: 30%
  @media (max-width: 500px)
    width: 100%
    left: 0%


/// puntos calientes -------

.img-infografica.color-primario .img-infografica__item__dot:before, .img-infografica.color-primario .img-infografica__item__dot:after, .img-infografica.color-primario .img-infografica-b__item__dot:before, .img-infografica.color-primario .img-infografica-b__item__dot:after, .img-infografica-b.color-primario .img-infografica__item__dot:before, .img-infografica-b.color-primario .img-infografica__item__dot:after, .img-infografica-b.color-primario .img-infografica-b__item__dot:before, .img-infografica-b.color-primario .img-infografica-b__item__dot:after
  background-color: #12263F

.img-infografica.color-primario .img-infografica__item__numero
  color: #FFFFFF

//// lstado viñetas -------------

.fa-ul2
  margin-left: 0 !important
  li
    display: flex !important
    &::before
      position: relative
      margin-right: 7px
      font-size: 1.4rem

    &:before
      position: relative
      margin-right: 7PX
      font-size: 1.4rem

.color-vineta1
  color: #FFA031 !important

.color-vineta2
  color: #4DB1F0 !important

.l-p
  border-bottom: dashed 1px #b0c0d2 !important

/// tarjeta avatar top -----------

.tarjeta-avatar > img
  width: 110px


/// ESTILOS TEMA 2 -------------

.bg2-fondo1
  background-image: url("../assets/curso/temas/tema2/bg2-fondo1.png")
  background-repeat: no-repeat
  background-size: 100% 100%
  height: 120px
  margin-right: -25px
  @media (max-width: 500px)
    background-size: 100% 100%
    height: auto
    margin-right: 0px

.bg2-fondo2
  background-image: url("../assets/curso/temas/tema2/bg2-fondo2.png")
  background-repeat: no-repeat
  background-size: 100% 100%
  height: 120px
  margin-right: -25px
  @media (max-width: 500px)
    background-size: 100% 100%
    height: auto
    margin-right: 0px

.text-right
  position: relative
  left: 10px


.bg2-fondo3
  background-image: url("../assets/curso/temas/tema2/bg2-fondo3.png")
  background-repeat: no-repeat
  background-size: 100% 100%
  height: 350px
  margin-right: -20px
  @media (max-width: 500px)
    background-size: 100% 100%
    height: auto
    margin-right: 0px
    position: relative
    right: 23px

.bg2-fondo4
  background-image: url("../assets/curso/temas/tema2/bg2-fondo4.png")
  background-repeat: no-repeat
  background-size: 100% 100%
  height: 350px
  margin-left: -20px
  @media (max-width: 500px)
    background-size: 100% 100%
    height: auto
    margin-left: 0px
    position: relative
    left: 23px


// imagenes -------

.img57-tm2
  position: relative
  max-width: 150%
  width: 150%
  left: 50px
  margin-top: 30px
  @media (max-width: 500px)
    width: 100%
    left: 0px
    margin-top: 0px


.texto-derecha
  position: relative
  right: 20px

//negrilla para titulos de TabsC Activos-----

.tabs-c__tab--active
  font-weight: bold
  border-bottom: 4px solid !important

.texto-derecha2
  position: relative
  left: 1px